// * {
//     outline: 1px solid pink;
// }

/* Set up */
*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
    margin: 0;
}
body, button, input, select  {
    font-family: $body;
    font-size: 1rem;
    line-height: 1.5; 
    color: $p-black;
    background-color: transparent;

}
button, input, select {
    padding: 0.5rem 1rem;
    border: none;
    transition: $transition;
    border-radius: 2rem;
    height: 3rem;

    &:hover {
        background-image:
        -webkit-linear-gradient(left, 
                                rgba(255, 255, 255, 0), 
                                rgba(244, 239, 239, 0)),
        -webkit-linear-gradient(top, $purple, $blue);
        border-radius: 50px; 
        background-size: 35px 20px, 100% 100%, 100% 100%;  
        border-radius: 0.5rem;
    }
}

input {
    border-bottom: 1px solid $p-black;

}

h1, h2, h3, h4 {
    font-family: $heading-primary ;
    line-height: 1;
    font-weight: 900;
    color: $p-black;
    margin-bottom: 1em;
}

.text-center {
    text-align: center;
}
.column {
    @include flex(column);
}

.hidden {
    display: none;
}

/* HEADER */
header {
    padding: 3rem 0;
    h2 {
        font-size: 1rem;
    }
}

/* MAIN */
body{
    @include flex (column, center, center);
    /* UL */
    .pet-row {
        @include flex(row, center, center);
        gap: 5%;
        padding-left: 0;
        li {
            list-style: none;
            @include flex (column, center, center);
        }
    }
    .game-wrapper {
        @include flex (row, center, center);
        gap: 8%;

        .game-pet {
               
            .pet-container {
                font-size: 1.8rem;
                @media($sm) {
                    // color: pink;
                    font-size: 3rem;

                }
            }
        }
    }
    .action-container {
        @include flex (column, center, center);
        margin-top: 2rem;
        i {
            font-size: 2rem;
        }
      
    }
    .form-wrapper {
        @include flex (column, center, center);
        @media($sm) {
            @include flex (row, center, end);
            // justify-content:end ;
        }
    }
}



/* Progress bar */
.score-container {
    @include flex(column, center);
    
    label {
        font-weight: 900;
        width: 100%;
        @include flex(row, space-between)
    }
    progress:not([value]) {
        border-radius: 100; 
    }
    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
        border: none;
        width: 200px; 
        height: 20px;
        border-radius: 50px; 
    }
    progress[value]::-webkit-progress-value {
        background-image:
            -webkit-linear-gradient(top, 
                                    rgba(255, 255, 255, 0), 
                                    rgba(244, 239, 239, 0)),
            -webkit-linear-gradient(left, $purple, $blue);
        border-radius: 50px; 
        background-size: 35px 20px, 100% 100%, 100% 100%;

    }
    progress::-webkit-progress-bar {
        background-color: $grey; 
        border-radius: 50px; 
    }

}

.dead {
    background-color: red;
    *, input::placeholder {
        color: pink;
    }

    input, input:active, input:focus, select, button {
        -webkit-appearance: none;
        appearance: none;       
        background-color: rgb(52, 0, 0); 

    }
    progress::-webkit-progress-bar {
        background-color: pink; 
        border-radius: 50px; 

    }
    progress[value]::-webkit-progress-value, button:hover, input:hover, select:hover  {
        background-image:
            -webkit-linear-gradient(top, 
                                    rgba(255, 255, 255, 0), 
                                    rgba(244, 239, 239, 0)),
            -webkit-linear-gradient(left, rgb(52, 0, 0), rgb(247, 0, 95));
    }   
    button:hover, input:hover, select:hover {
        background-image:
        -webkit-linear-gradient(left, 
                                    rgba(255, 255, 255, 0), 
                                    rgba(244, 239, 239, 0)),
        -webkit-linear-gradient(top, rgb(52, 0, 0), rgb(247, 0, 95));
    }   

}