// Fonts
$heading-primary: SelectMono, serif;
$body: monospace;

// Colors
$gradient: linear-gradient(hsl(0, 0, 89, 100%), hsl(226, 89, 73, 100%));
$purple: hsl(226, 89, 73, 100%);
$pale-purple: hsl(0, 0, 89, 100%);
$blue: hsl(186, 35%, 83%);
$beige: hsl(36, 19%, 95%);

$p-black: #000;
$p-white: #fff;