@font-face {
  font-family: SelectMono;
  src: url(../fonts/SelectMono-Italic.woff);
}
/* Set up */
*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
  margin: 0;
}

body, button, input, select {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: transparent;
}

button, input, select {
  padding: 0.5rem 1rem;
  border: none;
  transition: 0.5s;
  border-radius: 2rem;
  height: 3rem;
}
button:hover, input:hover, select:hover {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(244, 239, 239, 0)), -webkit-linear-gradient(top, hsl(226deg, 89%, 73%), hsl(186deg, 35%, 83%));
  border-radius: 50px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 0.5rem;
}

input {
  border-bottom: 1px solid #000;
}

h1, h2, h3, h4 {
  font-family: SelectMono, serif;
  line-height: 1;
  font-weight: 900;
  color: #000;
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

/* HEADER */
header {
  padding: 3rem 0;
}
header h2 {
  font-size: 1rem;
}

/* MAIN */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* UL */
}
body .pet-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  padding-left: 0;
}
body .pet-row li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .game-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8%;
}
body .game-wrapper .game-pet .pet-container {
  font-size: 1.8rem;
}
@media (width >= 440px) {
  body .game-wrapper .game-pet .pet-container {
    color: pink;
    font-size: 3rem;
  }
}
body .game-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
body .game-buttons i {
  font-size: 2rem;
}
body .form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (width >= 440px) {
  body .form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
  }
}

/* Progress bar */
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.score-container label {
  font-weight: 900;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.score-container progress:not([value]) {
  border-radius: 100;
}
.score-container progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  width: 200px;
  height: 20px;
  border-radius: 50px;
}
.score-container progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(244, 239, 239, 0)), -webkit-linear-gradient(left, hsl(226deg, 89%, 73%), hsl(186deg, 35%, 83%));
  border-radius: 50px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
.score-container progress::-webkit-progress-bar {
  background-color: hsl(0deg, 0%, 89%);
  border-radius: 50px;
}

.dead {
  background-color: red;
}
.dead input::-moz-placeholder {
  color: pink;
}
.dead input:-ms-input-placeholder {
  color: pink;
}
.dead *, .dead input::placeholder {
  color: pink;
}
.dead input, .dead input:active, .dead input:focus, .dead select, .dead button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: rgb(52, 0, 0);
}
.dead progress::-webkit-progress-bar {
  background-color: pink;
  border-radius: 50px;
}
.dead progress[value]::-webkit-progress-value, .dead button:hover, .dead input:hover, .dead select:hover {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(244, 239, 239, 0)), -webkit-linear-gradient(left, rgb(52, 0, 0), rgb(247, 0, 95));
}
.dead button:hover, .dead input:hover, .dead select:hover {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(244, 239, 239, 0)), -webkit-linear-gradient(top, rgb(52, 0, 0), rgb(247, 0, 95));
}/*# sourceMappingURL=style.css.map */